html {
  min-width: 450px;
  min-height: 436px;

  background-color: #FFF;
  --first-color: #f9fafb;
  --first-color-second: #ededed;
  --text-color: #302c2c;
  --gold: #ffcf01;
  --main-bg: #FFF;
  --toggle-first: #000;
  --toggle-second: #FFF;
}

body {
  margin: 0;
  display: grid;
  height: 100vh;
  place-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--text-color);
}

a {
  all: unset;
}

p {
  font-size: 0.9rem;
}

.event{
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, .4);
}

.event {
  max-width: 440px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--main-bg);
}

header {
  padding: 0 15px;
}

.event__header{
  display: flex;
  align-items: center;
}

.event__title{
  padding-left: 0.75rem;
}

.event__info {
  height: 318px;
  overflow-y: auto;
}

.event__item {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: var(--first-color);
  border-top: 1px solid var(--first-color-second);
}

.event__item:hover {
  cursor: pointer;
  background-color: var(--first-color-second);
  transition: all 0.25s ease;
}

.event__icon {
  background-color: var(--first-color);
  display: inline-flex;
  user-select: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.event__details {
  width: 300px;
  margin-left: 15px;
  line-height: 1.5;
  font-size: 0.8rem;
}

.event__name {
  font-weight: 600;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event__location {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event__calendar {
  margin: 0 auto;
}

.event__calendar:hover {
  cursor: pointer;
  color: var(--gold);
  transition: all 0.1s ease;
}

.event__setting{
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.event__toggle {
  position: relative;
  box-sizing: border-box;
  padding: 1rem;
}

.event__toggle input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.event__toggle label {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.event__toggle label:before {
  content: '';
  width: 42px;
  height: 21px;
  position: relative;
  display: inline-block;
  background: var(--toggle-second);
  border-radius: 23px;
  border: 2px solid var(--toggle-first);
  box-sizing: border-box;
  transition: 0.2s ease-in;
}

.event__toggle label:after {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  left: 5px;
  top: 6px;
  z-index: 2;
  background: var(--toggle-first);
  box-sizing: border-box;
  transition: 0.2s ease-in;
}

.event__toggle input[type="checkbox"]:checked + label:before {
  background: var(--toggle-first);
}

.event__toggle input[type="checkbox"]:checked + label:after {
  left: 29px;
  background: var(--toggle-second);
}

.event__tag {
  color: var(--text-color);
  font-size: 0.8rem;
  background-color: var(--gold);
  border-radius: 18px;
  width: fit-content;
  align-items: center;
  margin-top: 5px;
  padding: 2px 7px;
}

.event__tag i {
  margin-right: 5px;
}

#theme__toggle {
  margin-right: 0px;
  margin-left: auto;
  cursor: pointer;
}

.fa-moon, .fa-sun 
{
  color: var(--gold);
}

html.dark-mode {
  background-color: #302c2c;
  --first-color: #282828;
  --first-color-second: #424242;
  --text-color: #f9fafb;
  --gold: #ffcf01;
  --main-bg: #212121;
  --toggle-first: #606060;
  --toggle-second: #f9fafb;
}

html.dark-mode .event__tag {
  color: var(--first-color-second);
}
